@model RecoveryPasswordViewModel

@{
  ViewData["Title"] = "Recuperación de contraseña";
}

<h3>Recuperar contraseña en @Model.SiteName</h3>

<p>Has recibido este mensaje por una petición de cambio de contraseña, para cambiar la contraseña visite el siguiente enlace<br/></p>

<a class="btn btn-outline-primary" href="@Model.CallBack">Restablecer contraseña</a>

<p>
  Si no puede navegar al enlace anterior, copie y pegue el siguiente enlace en su navegador<br/>
  @Model.CallBack
</p>
