@model SendEmployeeAssignTaskViewModel

@{
  ViewData["Title"] = "Asignación de tarea";
}

<p>
  La empresa <strong>@Model.CompanyName</strong> te ha añadido en la tarea <strong>@Model.CompanyTaskName</strong>
</p>
