@model SendEmployeeAssignDepartmentViewModel

@{
  ViewData["Title"] = "Asignación de departamento";
}

<p>
  La empresa <strong>@Model.CompanyName</strong> te ha añadido en el departamento <strong>@Model.DepartmentName</strong>
</p>
