@model ValidateEmailRegistrationViewModel

@{
  ViewData["Title"] = "Validación Email de nuevo registro";
}

<h3>Bienvenido a <strong>@Model.SiteName</strong></h3>

<p>
  Su cuenta requiere de validación del correo electrónico, por favor para completar el registro visite el siguiente enlace<br/>

  <a class="btn btn-outline-primary" href="@Model.UrlValidate">Validar correo electrónico</a>
</p>

<p>
  Si no puede navegar al enlace anterior, copie y pegue el siguiente enlace en su navegador<br/>
  @Model.UrlValidate
</p>
